/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2017, 7:48:23 PM
    Author     : ericc
*/
/*******************************************************************************
 * Scenic View,                                                                *
 * Copyright (C) 2012 Jonathan Giles, Ander Ruiz, Amy Fowler                   *
 *                                                                             *
 * This program is free software: you can redistribute it and/or modify        *
 * it under the terms of the GNU General Public License as published by        *
 * the Free Software Foundation, either version 3 of the License, or           *
 * (at your option) any later version.                                         *
 *                                                                             *
 * This program is distributed in the hope that it will be useful,             *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of              *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the               *
 * GNU General Public License for more details.                                *
 *                                                                             *
 * You should have received a copy of the GNU General Public License           *
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.       *
 /*****************************************************************************/

.root {
      
    -fx-base: rgb(22, 22, 38);
    -fx-background: rgb(32, 32, 38);
    -fx-control-inner-background:  rgb(32, 32, 38);


}

.tool-bar:horizontal {
/*    -fx-background-color: radial-gradient(center center, 0px, center center, 100%, color-stop(0%, #808080), color-stop(100%, #000000));*/
     -fx-background-color: radial-gradient(radius 100%, #808080, #000000);
}
#root-border-pane {
/*   -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));  */
   -fx-background-repeat: repeat;
-fx-background-color:
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
/*******************************************************************************
 * Tree View  		                                                       *
 ******************************************************************************/
.tree-view {
/*    -fx-background-color: #323232;*/
    -fx-text-fill: #ccc;
    -fx-background-insets: 0, 0 0 -1 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/*******************************************************************************
 * Inset Text   		                                               *
 ******************************************************************************/
#inset-text {
    -fx-fill: #DCDCDC;
}

/*******************************************************************************
 * Detail Pane  		                                               *
 ******************************************************************************/
.detail-pane #title-label {
    -fx-text-fill: #DCDCDC;
    -fx-font: bold 12pt System;
}
.detail-pane .detail-label {
    -fx-font-weight: bold;
    -fx-text-fill: #DCDCDC;
}
.detail-pane .updated-detail-label {
    -fx-font-weight: bold;
    -fx-text-fill: #DCDCDC;
}
.detail-pane .detail-value {
    -fx-text-fill: #DCDCDC;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}
.detail-pane .detail-field {
    -fx-text-fill: #DCDCDC;
}
.detail-pane #title-label {
    -fx-text-fill: #DCDCDC;
    -fx-font: bold 12pt System;
}
.detail-grid {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0,0,0;
    -fx-padding: 4 6 6 6;
    -fx-hgap: 4;
    -fx-vgap: 1;
}

/*******************************************************************************
 * Constraints Display  	                                               *
 ******************************************************************************/
.constraints-display {
    -fx-padding: 5 5 5 5;
}
.constraints-display .label.key {
    -fx-text-fill: #ccc;
}
.gridpane-constraint-display {
    -fx-padding: 5 5 5 5;
  -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

/*******************************************************************************
 * Tab Pane   			                                               *
 ******************************************************************************/
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-backround-color: #444;
}

/*******************************************************************************
 * Check Box   			                                               *
 ******************************************************************************/
.check-box {
    -fx-text-fill: #DCDCDC;
}

/*******************************************************************************
 * Text Field  			                                               *
 ******************************************************************************/
.text-field {
    -fx-background-color: #879;
    -fx-text-fill: #DCDCDC;
    -fx-font: 12px "Arial";
}

 
.text-area .content {
     -fx-background-color: #38424b;
      -fx-font: 12px "Arial";
      -fx-border-width: 1.5 0 0 0; -fx-border-color: #222;
}
/*******************************************************************************
 * Labels   			                                               *
 ******************************************************************************/
.label {
    -fx-text-fill: #DCDCDC;
}
#color-label {
   -fx-font: 12px "Arial";
      -fx-text-fill: #CCC;
 -fx-font-weight: bold;
}
#red-color-label {
   -fx-font: 12px "Arial";
      -fx-text-fill: #CCC;
      -fx-font-weight: bold;
}
#green-color-label {
   -fx-font: 12px "Arial";
   -fx-text-fill: #CCC;
   -fx-font-weight: bold;
}
#blue-color-label {
   -fx-font: 12px "Arial";
   -fx-text-fill: #CCC;
   -fx-font-weight: bold;
}
.scanning-label {
    -fx-text-fill: #DCDCDC;
    -fx-font-size:12;
    -fx-font-weight: bold;
}
.gridpane-constraint-display .label {
    -fx-text-fill: #CCC;
}
.constraints-display .label.key {
    -fx-text-fill: #CCC;
}
.search-bar .label {
    -fx-text-fill: #CCC;
    -fx-font-weight: bold;
}

/*******************************************************************************
 * Status Bar   			                                       *
 ******************************************************************************/
#main-statusbar {
    -fx-text-fill: #CCC;
    -fx-padding: 3 4 3 4;
    -fx-spacing: 4;
}
#main-statusbar .value-name {
    -fx-font-weight: bold;
}

/*******************************************************************************
 * For Testing    			                                       *
 ******************************************************************************/
.color {
    -fx-fill: orange;
}
#rect4 {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}
#First {
    -fx-font: bold 12pt System;
    -fx-background-color: red;
}

/*******************************************************************************
 * Scroll Pane   	                                                       *
 ******************************************************************************/
.scroll-pane {
   -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

/*******************************************************************************
 * Title Pane    	                                                       *
 ******************************************************************************/
.title {
    -fx-text-fill: #CCC;
}
.titled-pane {
    -fx-text-fill: #DCDCDC;
}
.titled-pane > .title {
   -fx-background-color:
linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));

    -fx-text-fill: #DCDCDC;
    -fx-background-radius: 0, 0, 0;
}
.titled-pane > *.content {
   -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
    -fx-text-fill: #CCC;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0;
    -fx-border-color: null;
}

/*******************************************************************************
 * VBox      	                                                               *
 ******************************************************************************/
VBox {
     -fx-background-color:transparent;
}

/*******************************************************************************
 * View Port     	                                                       *
 ******************************************************************************/
.viewport {
     -fx-background-color:transparent;
}
#Content {
    -fx-background-color:transparent;
}
.tree-cell {
    -fx-background-color:transparent;
    -fx-text-fill: #ccc;

}
.tree-view .tree-cell .label {
    -fx-text-fill: #ccc;
}
.tree-view .tree-cell:hover {
    -fx-text-fill: #FFF;
}
.tree-view .tree-cell:selected {
    -fx-text-fill: #FFB74D;
}
AnchorPane {
     -fx-background-color: transparent;
  
}
.tab-header-background {
   
  -fx-background-color:transparent;
}
.tab {
    -fx-text-fill: #DCDCDC;
   -fx-background-color:transparent;
}
.tab .tab-label { 
    -fx-text-fill: #DCDCDC; 
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-text-fill: #FFB74D;
}

.radio-button, .radio-button:focused{
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-cursor:hand;
    -fx-text-fill: #aaa;
    -fx-font-size:16;
    -fx-font-family:verdana;
    
}
.radio-button:selected>*.radio>*.dot {
    -fx-background-color: cornflowerblue;
}
.radio-button:selected {
	-fx-fill: linear-gradient(to bottom, #61627A, #C4C6D0);
}

.radio-selected-c2{
	-fx-fill: linear-gradient(to bottom, #9A9CB4, #F3F3F3);
}

/*******************************************************************************
 * Menu Bar			                                               *
 ******************************************************************************/
.menu-bar {
   -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));

    -fx-background-insets: 0, 0 0 0 0;
}
.menu:hover, .menu-button .menu:hover {
    -fx-text-fill: #FFF;
} 
.menu-item:focused {
    -fx-text-fill: #FFF;
}
.menu-button .menu {
   
    -fx-text-fill: #FFF;
}
.menu-bar .menu .label {
    -fx-text-fill: #FFF;
}
.menu-button menu showing {
     -fx-background-color:transparent;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgba(13,13,13,0.9);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*******************************************************************************
 * Split Pane			                                               *
 ******************************************************************************/
.split-pane *.split-pane-divider {
  -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
    -fx-padding: 1;
    -fx-border-color: null;
}
.split-pane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-shape: "";
}
.split-pane {
     -fx-background-color:transparent;
    -fx-padding: 0;
}
.split-pane .corner {
/*    -fx-background-color: #323232;*/
    -fx-padding: 0;
}

/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
.scroll-bar{
 -fx-background-color: rgb(66,66,66);
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(88,88,88);
 -fx-background-insets: 4 0 4 0;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(88,88,88);
 -fx-background-insets: 0 4 0 4;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(88,88,88);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(98,98,98);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(88,88,88);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(88,88,88);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(88,88,88);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(88,88,88);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/*******************************************************************************
 * Table View			                                               *
 ******************************************************************************/
.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
    -fx-background-color: transparent;
}
.table-view:focused {
    -fx-background-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #DCDCDC;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #DCDCDC;
}
.table-view .filler {
   -fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #323232;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #282828;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
    -fx-background-color: rgb(0,150,201);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.animations-table-view .table-cell {
    -fx-alignment: BASELINE_RIGHT;
}
.context-menu{
    -fx-background-color: derive(#ececec,26.4%);
}
.menu-item:focused {
    -fx-background-color: transparent;
}

/* CUSTOM COLOR */

.my-custom-color {
    -fx-background-color: derive(#ececec,26.4%);
    -fx-padding: 1.25em;
    -fx-spacing: 1.25em;
    -fx-min-width: 20em;
    -fx-pref-width: 20em;
    -fx-max-width: 20em;
}

.my-custom-color:focused,
.my-custom-color:selected {
    -fx-background-color: transparent;
}

.my-custom-color > .color-rect-pane {
    -fx-spacing: 0.75em;
    -fx-pref-height: 16.666667em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.my-custom-color .color-rect-pane .color-rect {
    -fx-min-width: 16.666667em;
    -fx-min-height: 16.666667em;
}

.my-custom-color .color-rect-pane .color-rect-border {
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane #color-rect-indicator {
    -fx-background-color: null;
    -fx-border-color: white;
    -fx-border-radius: 0.4166667em;
    -fx-translate-x: -0.4166667em;
    -fx-translate-y: -0.4166667em;
    -fx-pref-width: 0.833333em;
    -fx-pref-height: 0.833333em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.my-custom-color > .color-rect-pane > .color-bar {
    -fx-min-height: 1.666667em;
    -fx-min-width: 16.666667em;
    -fx-max-height: 1.666667em;
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 0.333333em;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
    -fx-pref-height: 2em;
    -fx-pref-width: 0.833333em;
    -fx-translate-y: -0.1666667em;
    -fx-translate-x: -0.4166667em;
}

.my-custom-color .transparent-pattern {
    -fx-background-image: url("pattern-transparent.png"); 
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}

.my-custom-color .color-new-rect {
    -fx-min-width: 10.666667em;
    -fx-min-height: 1.75em;
    -fx-pref-width: 10.666667em;
    -fx-pref-height: 1.75em;
    -fx-border-color: derive(#ececec, -20%);
}