/*
 * Copyright (c) 2012, 2014, Oracle and/or its affiliates.
 * All rights reserved. Use is subject to license terms.
 *
 * This file is available and licensed under the following license:
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *  - Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 *  - Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in
 *    the documentation and/or other materials provided with the distribution.
 *  - Neither the name of Oracle Corporation nor the names of its
 *    contributors may be used to endorse or promote products derived
 *    from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
.small-label {
    -fx-font-size: 0.750em;
    -fx-padding: 0;
}
.chip-background {
    -fx-border-color: -fx-box-border, white;
    -fx-border-insets: 0, 1;
    -fx-background-color: darkgray;
    -fx-background-image: url("/resources/images/chequers.png");
    -fx-background-position: center;
}
.hue-slider {
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 0;
}
.theme-presets .property-sheet .slider > .track {
    -fx-background-color: transparent;
}
/* opacity slider background is applied to a region behind the slider itself */
.opacity-slider-background {
     -fx-background-color: darkgray;
    -fx-background-image: url("/resources/images/chequers.png");
    -fx-background-position: left center;
    -fx-background-radius: 0;
}
.brightnessRect {
    -fx-background-color: linear-gradient(to bottom, transparent, black);
}
.saturationRect {
    -fx-background-color: linear-gradient(to bottom right, white, transparent);
}
